.abt-container {
  padding: 50px;
}

.pack-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 60px;
  margin: 40px auto;
  flex-wrap: wrap;
}
.pack-icons li {
  cursor: pointer;
}
