.proj-list {
  display: grid;
  grid-gap: 25px;
  gap: 20px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 30px;
}

.proj-list li {
  text-decoration: none;
  list-style-type: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
}
.proj-list img {
  display: block;
  height: 200px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  width: 100%;
  top: 0;
}
.proj-list span {
  text-transform: capitalize;
  font-weight: bold;
  color: black;
  font-size: 24px;
}
.proj-list img:hover {
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transform: scale(1.05);
  border-color: rgba(249, 249, 249, 0.8);
}

@media (max-width: 768px) {
  .proj-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
