.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsl(0, 0%, 37%);
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 30px;
}
.footer a {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
  font-size: 30px;
  color: hsl(200, 30%, 92%);
  transition: all 0.3s linear;
}

.footer a:hover {
  color: hsl(0, 0%, 11%);
  transform: scale(1.1);
}
