.home-cont {
  /* Attempt to include a moving background to the photo */
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
}

.home-cont img {
  height: inherit;
  width: inherit;
}

.home-desc {
  padding: 40px;
}
.home-desc h3 {
  line-height: 1.5;
  text-transform: none;
}

.home-desc span {
  padding: 20px;
  font-size: 60px;
  color: black;
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  .home-cont {
    width: 100vw;
    height: 30vh;
  }

  .home-cont img {
    height: 100%;
    width: 100%;
  }
}
